<tbody>
    {% for row in step.tableau %}
    <tr>
        <th>
            {% if forloop.counter0 < step.basic_vars|length %}
                {% with idx=step.basic_vars|slice:forloop.counter0|first %}
                    {% with var=nombres_vars|slice:idx|first %}
                        {% if var|slice:0:1 == 's' and (var == 's1' or var == 's2') %}
                            {{ var|slice:":1"|upper }}<sub>{{ var|slice:"1:" }}</sub>
                        {% elif var|length == 1 %}
                            {{ var|upper }}
                        {% else %}
                            <!-- No mostrar s3, s4, etc. -->
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% else %}Z{% endif %}
        </th>
        {% for val in row %}
        <td>{{ val|floatformat:2 }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>